singularity {
    cacheDir = '/scratch/director2172/mantczak/.nextflow/NXF_SINGULARITY_CACHEDIR'
    autoMounts = true
}
conda {
    cacheDir = '/scratch/director2172/mantczak/.nextflow/NXF_CONDA_CACHEDIR'
}
process {
  executor = 'slurm'
  scratch = false
  cleanup = false
  beforeScript = 'module load singularity/3.8.6'    
}
tower {
  accessToken = 'eyJ0aWQiOiAxNjN9LmZlYmIzYThiZTljYTdiYmViNzQ5Yzc1MTEwNWRiOGI2YjA4MzIyMDc='
  enabled = true
  endpoint = 'https://tower.services.biocommons.org.au/api'
}